@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Space+Mono:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    min-height: 100vh;
    padding: 1rem 0;
    position: relative;
}

img {
    max-width: 100%;
}

header {


    p {
        font-family: Inconsolata, sans-serif;
        font-size: 24px;
        color: #333;    
    }
}

.centered {
    display: inline-block;
    vertical-align: middle;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .text {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        h1 {
            font-family: Space Mono, sans-serif;
            font-size: 38px;
            font-weight: 700;
            color: #333;
        }

        p {
            font-family: Space Mono, sans-serif;
            font-size: 18px;
            font-weight: 400;
            color: #333;
        }

        button {
            font-family: Space Mono, sans-serif;
            font-size: 14px;
            font-weight: 700;
            border: none;
            background-color: #333;
            padding: 1rem;
            width: 13.5rem;

            a {
                text-decoration: none;
                color: #fff;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    body {
        justify-content: center;
    }

    header {
        position: absolute;
        top: 0;
        padding: 2rem 0;
    }

    main {
        flex-direction: row;
        justify-content: space-between;

        img {
            width: 40%;
        }

        .text {
            width: 50%;
            align-self: center;

            h1 {
                font-size: 64px;
                width: 75%;
            }

            p {
                font-size: 24px;
                width: 50%;
            }
        }
    }
}